{{- $lastUpdated := (T "lastUpdated") | default "Last updated on" -}}

{{- if site.Params.displayUpdatedDate -}}
  {{- with .Lastmod -}}
    {{- $datetime := (time.Format "2006-01-02T15:04:05.000Z" .) -}}
    <div class="hx:mt-12 hx:mb-8 hx:block hx:text-xs hx:text-gray-500 hx:ltr:text-right hx:rtl:text-left hx:dark:text-gray-400">
      {{ $lastUpdated }} <time datetime="{{ $datetime }}">{{ partial "utils/format-date" . }}</time>
      {{- with $.File -}}
        {{- if and site.Params.github.repository site.Params.github.showHistory -}}
          <a
            href="{{ site.Params.github.repository }}/commits/main/content/{{ .Path }}"
            class="hx:ml-1 hx:text-primary-600 hover:hx:text-primary-800 hx:dark:text-primary-400 hx:dark:hover:text-primary-200"
            target="_blank"
            rel="noopener noreferrer">
            - Github commit history ↗
          </a>
        {{- end -}}
      {{- end -}}
    </div>
  {{- else -}}
    <div class="hx:mt-16"></div>
  {{- end -}}
{{- else -}}
  <div class="hx:mt-16"></div>
{{- end -}}
