{{/* get file that matches the filename as specified as src="" */}}
{{ $src := .Page.Resources.GetMatch (printf "%s" (.Destination | safeURL)) }}
{{ $alt := .PlainText | safeHTML }}
{{ $caption := .Title | safeHTML }}

{{/* So for posts that aren't setup in the page bundles, it doesn't fail */}}
{{ if $src }}
  {{ $tinyw := default "500x webp" }}
  {{ $smallw := default "800x webp" }}
  {{ $mediumw := default "1200x webp" }}
  {{ $largew := default "1500x webp" }}

  {{/* resize the src image to the given sizes */}}
  {{ $data := newScratch }}
  {{ $data.Set "tiny" ($src.Resize $tinyw) }}
  {{ $data.Set "small" ($src.Resize $smallw) }}
  {{ $data.Set "medium" ($src.Resize $mediumw) }}
  {{ $data.Set "large" ($src.Resize $largew) }}

  {{/* add the processed images to the scratch */}}
  {{ $tiny := $data.Get "tiny" }}
  {{ $small := $data.Get "small" }}
  {{ $medium := $data.Get "medium" }}
  {{ $large := $data.Get "large" }}

  <figure class="my-8">
      <picture>
        <source media="(max-width: 376px)" srcset="{{ with $tiny.RelPermalink }}{{.}}{{ end }}">
        <source media="(max-width: 992px)" srcset="{{ with $small.RelPermalink }}{{.}}{{ end }}">
        <source media="(max-width: 1400px)" srcset="{{ with $medium.RelPermalink }}{{.}}{{ end }}">
        <source media="(min-width: 1600px)" srcset="{{ with $large.RelPermalink }}{{.}}{{ end }}">
        <img 
          alt="{{ $alt }}" 
          title="{{ $alt }}" 
          src="{{ $src.RelPermalink }}" 
          height="{{ $src.Height }}" 
          width="{{ $src.Width }}" 
          class="w-full h-auto rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-[1.02]"
        >
      </picture>
    {{ with $caption }}
      <figcaption class="mt-2">{{ . }}</figcaption>
    {{ end }}
  </figure>
{{ end }}