:root {
    --nav-width: 850px;
    --main-width: 850px;
}

.post-title, .page-header h1 {
    font-size: 34px;
}

.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    font-size: 22px;
    margin: 30px 0 8px;
}

.first-entry {
    min-height: auto;
}

.logo a img, .logo a svg {
    margin-inline-end: 0px;
}

a {
  color: black;
}

a:hover {
  color: rgb(79, 79, 79);
}
