{
  "openapi": "3.0.0",
  "info": {
    "title": "Submission API",
    "version": "1.0.0",
    "description": "API for managing submissions with file uploads to S3, based on OAIS concepts."
  },
  "servers": [
    {
      "url": "https://api.nb.no",
      "description": "Production environment"
    }
  ],
  "paths": {
    "/contracts/{contractId}/submissions": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Create a new submission",
        "operationId": "createSubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/contractId"
          }
        ],
        "requestBody": {
          "description": "Metadata for the submission to be created",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSubmissionRequest"
              },
              "example": {
                "objectId": "urn:uuid:6e8bc430-9c3a-11d9-9669-0800200c9a66"
              }
            }
          }
        },
        "responses": {
          "409": {
            "description": "Conflict - A Submission with the same ID already exists."
          },
          "201": {
            "description": "Submission created",
            "headers": {
              "Location": {
                "description": "URI of the newly created submission",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                },
                "example": {
                  "submissionId": "95c0bc53-6dfc-45aa-87d8-aff00f7a553d",
                  "objectId": "urn:uuid:6e8bc430-9c3a-11d9-9669-0800200c9a66",
                  "status": "registered"
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/contracts/{contractId}/submissions/{submissionId}/files": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Register file and receive upload URL",
        "operationId": "registerFile",
        "parameters": [
          {
            "$ref": "#/components/parameters/contractId"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "requestBody": {
          "description": "Metadata for the file to be uploaded",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterFileRequest"
              },
              "example": {
                "filePath": "/path/to/file.txt",
                "checksum": "249b8b8a3398b39ad657b2a0f8bf8cbe"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "File registered and upload URL generated",
            "headers": {
              "Location": {
                "description": "URI of the newly created file",
                "schema": {
                  "type": "string",
                  "format": "uri"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FileResponse"
                },
                "example": {
                  "fileId": "1f0f6c56-1d9f-46c3-b796-4242d8d4475e",
                  "filePath": "/path/to/file.txt",
                  "checksum": "3d40de18b79c00b9170698e960bdb199",
                  "uploadUrl": "https://s3.example.com/upload/url"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - A file with the same filePath already exists."
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/contracts/{contractId}/submissions/{submissionId}/finalize": {
      "post": {
        "tags": [
          "Submissions"
        ],
        "summary": "Finalize submission",
        "description": "Once all files have been uploaded, call this endpoint to finalize the submission.",
        "operationId": "finalizeSubmission",
        "parameters": [
          {
            "$ref": "#/components/parameters/contractId"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "responses": {
          "400": {
            "description": "Bad Request - Submission cannot be finalized due to missing files or other required conditions not being met."
          },
          "200": {
            "description": "Submission finalized",
            "content": {
              "application/json": {
                "schema": {
                    "$ref": "#/components/schemas/SubmissionResponse"
                },
                "example": {
                  "submissionId": "853aeaa2-c1e8-4eaf-b9f7-279906c1c9bd",
                  "objectId": "urn:uuid:6e8bc430-9c3a-11d9-9669-0800200c9a66",
                  "status": "finalized",
                  "files": [
                    {
                      "fileId": "edffc160-cbfa-4cf1-90c8-fed57d4977be",
                      "filePath": "/path/to/file.txt",
                      "checksum": "3d40de18b79c00b9170698e960bdb199"
                    },
                    {
                      "fileId": "65aa115d-f5d1-4129-b993-7ebda01f7054",
                      "filePath": "/path/to/file2.txt",
                      "checksum": "d714fe3ef9f4e6b62fd85bd262dc0521"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    },
    "/contracts/{contractId}/submissions/{submissionId}": {
      "get": {
        "tags": [
          "Submissions"
        ],
        "summary": "Retrieve submission status",
        "operationId": "getSubmissionStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/contractId"
          },
          {
            "$ref": "#/components/parameters/submissionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Submission found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionResponse"
                },
                "example": {
                  "submissionId": "853aeaa2-c1e8-4eaf-b9f7-279906c1c9bd",
                  "objectId": "urn:uuid:6e8bc430-9c3a-11d9-9669-0800200c9a66",
                  "status": "registered",
                  "files": [
                    {
                      "fileId": "edffc160-cbfa-4cf1-90c8-fed57d4977be",
                      "filePath": "/path/to/file.txt",
                      "checksum": "3d40de18b79c00b9170698e960bdb199"
                    },
                    {
                      "fileId": "65aa115d-f5d1-4129-b993-7ebda01f7054",
                      "filePath": "/path/to/file2.txt",
                      "checksum": "d714fe3ef9f4e6b62fd85bd262dc0521"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Submission not found"
          }
        },
        "security": [
          {
            "OAuth2": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CreateSubmissionRequest": {
        "type": "object",
        "properties": {
          "objectId": {
            "type": "string",
            "description": "Object identificator for the submission"
          }
        },
        "required": [
          "objectId"
        ]
      },
      "SubmissionResponse": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission in UUID format"
          },
          "objectId": {
            "type": "string",
            "description": "Object identificator for the submission"
          },
          "status": {
            "type": "string",
            "enum": [
              "registered",
              "in_progress",
              "failed",
              "completed"
            ],
            "description": "Updated status of the submission"
          },
          "files": {
            "type": "array",
            "description": "List of files associated with the submission",
            "items": {
              "type": "object",
              "properties": {
                "fileId": {
                  "type": "string"
                },
                "filePath": {
                  "type": "string"
                },
                "checksum": {
                  "type": "string"
                }
              },
              "required": [
                "fileId",
                "filePath",
                "checksum"
              ]
            }
          }
        },
        "required": [
          "submissionId",
          "objectId",
          "status"
        ]
      },
      "RegisterFileRequest": {
        "type": "object",
        "properties": {
          "filePath": {
            "type": "string",
            "description": "Relative path of the file within the submission"
          },
          "checksum": {
            "type": "string",
            "description": "Checksum for the file"
          }
        },
        "required": [
          "filePath",
          "checksum"
        ]
      },
      "FileResponse": {
        "type": "object",
        "properties": {
          "fileId": {
            "type": "string",
            "description": "Unique identifier for the file"
          },
          "filePath": {
            "type": "string",
            "description": "Relative path of the file within the submission"
          },
          "checksum": {
            "type": "string",
            "description": "Checksum for the file"
          },
          "uploadUrl": {
            "type": "string",
            "format": "uri",
            "description": "URL for direct upload to S3"
          }
        },
        "required": [
          "fileId",
          "uploadUrl"
        ]
      }
    },
    "parameters": {
      "contractId": {
        "name": "contractId",
        "in": "path",
        "required": true,
        "description": "ID of the contract (Base16 (HEX) format, 8 characters)",
        "schema": {
          "type": "string",
          "pattern": "^[0-9a-f]{8}$"
        }
      },
      "submissionId": {
        "name": "submissionId",
        "in": "path",
        "required": true,
        "description": "ID of the submission (UUID format)",
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "securitySchemes": {
      "OAuth2": {
        "type": "oauth2",
        "flows": {
          "clientCredentials": {
            "tokenUrl": "https://auth.nb.no/oauth/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "OAuth2": []
    }
  ],
  "tags": [
    {
      "name": "Submissions",
      "description": "Operations related to submissions"
    }
  ]
}
